/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body{
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.3);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    width: 770px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/*************************************************************************************************************
********************************************* NAVBAR CLASSES *************************************************
*************************************************************************************************************/
.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-dark{
    background: #000;
    color: #FFF;
}
.navbar-blue{
    background: #0077B6;
}
.menu, .sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sub-menu{
    display: none;
}
.menu .menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.menu .menu-item a{
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}
.has-sub-menu{
    position: relative;
}
.has-sub-menu:hover .sub-menu{
    display: block;
}
.has-sub-menu .sub-menu-list{
    position: absolute;
    left: 0;
    background: #FFF;
    color: #000;
    width: 160px;
}
.sub-menu-list .sub-menu .menu-item{
    text-transform: capitalize;
    display: block;
}
.sub-menu-list .sub-menu .menu-item a{
    display: block;
}
.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited{
    color: #FFF;
}
.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover>a{
    background: #CCC;
    color: #333;
}
.navbar-blue .menu .menu-item a:hover{
    background: #FC3;
}
.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited{
    color: #333;
}
.search-box{
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    cursor: pointer;
}
/*************************************************************************************************************
********************************************* SLIDER CLASSES *************************************************
*************************************************************************************************************/
.slider{
    width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item{
    position: relative;
}
.slider .slider-image{
    width: 100%;
}
.slider-item .image-caption{
    position: absolute;
    bottom: 50px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.image-caption .caption-title{
    font-size: 30px;
}
/*************************************************************************************************************
********************************************* SECTION CLASSES *************************************************
*************************************************************************************************************/
.section{
    padding: 85px 0;
}
.section-white{
    background: #FFF;
    color: #333;
}
.section-black{
    background: #000;
    color: #FFF;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    margin: 0 0 18px;
}
.section .section-heading p{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin: 0;
}
.section-white .section-heading p{
    color: dimgray;
}
.section-black .section-heading p{
    color: #AAA;
}
/*************************************************************************************************************
********************************************* BUTTON CLASSES *************************************************
*************************************************************************************************************/
.btn{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: none;
    border: solid 1px #333;
}
.btn-default{
    background: #000;
    border-color: #000;
    color: #FFF;
}
.btn-default:hover{
    background: #CCC;
    color: #333;
    cursor: pointer; /* button tag ke liye */
    border-color: #CCC;
}
.btn-blue{
    background: #0077B6;
    border-color: #0077B6;
    color: #FFF;
}
.btn-blue:hover{
    background: #FFF;
    color: #0077B6;
}
.btn-default-outline{
    background: #FFF;
    color: #333;
    border: solid 1px #333;
}
.btn-blue-outline{
    background: #FFF;
    color: #0077B6;
    border: solid 1px #0077B6;
}
.btn-blue-outline:hover{
    background: #0077B6;
    color: #FFF;
}
.btn-rounded{
    border-radius: 5px;
}
/*************************************************************************************************************
********************************************* BAND SECTION *************************************************
*************************************************************************************************************/
.photographer{
    text-align: center;
}
.photographer img{
    width: 155px;
}
/*************************************************************************************************************
********************************************* TOUR SECTION *************************************************
*************************************************************************************************************/
.tours{
    background: #FFF;
    color: #333;
}
.tour-list{
    list-style: none;
    color: #797775;
}
.tour-item{
    padding: 10px 15px;
    border-bottom: solid 1px #DDD;
}
.tour-item:last-child{
    border: none;
}
/*
.tour-item:not(.last-item){
    border-bottom: solid 1px #DDD;
}
*/
.sold-out{
    background: #F44336;
    color: #FFF;
    text-transform: capitalize;
    padding: 2px 5px;
    margin-left: 20px;
}
.badge{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
}
.badge-black{
    background: #000;
    color: #FFF;
}
.event{
    position: relative;
    line-height: 0;
}
.event img{
    width: 100%;
}
.event .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    display: none;
}
.event:hover .overlay{
    display: block;
}
.event-content{
    padding: 10px;
    background: #FFF;
    color: #333;
}
.event-date{
    color: #999;
}
/*************************************************************************************************************
********************************************* CONTACT SECTION *************************************************
*************************************************************************************************************/
.form-control{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #CCC;
    margin-bottom: 8px;
}
.contact-details p,
.contact-details i{
    font-size: 18px;
}
/*************************************************************************************************************
********************************************* MAP SECTION *************************************************
*************************************************************************************************************/
.grayscale{
    filter: grayscale(50%);
}
/*************************************************************************************************************
********************************************* FOOTER SECTION *************************************************
*************************************************************************************************************/
footer.section-white{
    color: #777;
}
.social-icons{
    font-size: 24px;
}
.social-icons:hover{
    color: #999;
}
/*************************************************************************************************************
********************************************* MOBILE FRIENDLY ************************************************
*************************************************************************************************************/
@media(max-width: 550px){
    .container{
        width: 90%;
    }
}
@media(min-width: 551px) and (max-width: 768px){
    .container{
        width: 90%;
    }
}
@media(max-width: 550px){
    .row .col-6{ width: 100%; }
    .row .col-3{ width: 100%; }
    .row .col-4{ width: 100%; }
}
@media(max-width: 550px){
    .right-section{
        display: none;
    }
}